cwnsWeb/web/WEB-INF/SpatialServices.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle JDeveloper 10g Web Services WSDL Generator-->
<!--Date Created: Fri Jun 08 18:52:13 EDT 2007-->
<definitions
   name="SpatialServices"
   targetNamespace="http://waters9i_waters/SpatialServices.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://waters9i_waters/SpatialServices.wsdl"
   xmlns:ns1="http://waters9i-waters/SpatialServices.xsd">
   <types>
      <schema
         targetNamespace="http://waters9i-waters/SpatialServices.xsd"
         xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema">
         <complexType name="waters9i_waters_PrgList" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfString"/>
            </all>
         </complexType>
         <complexType name="ArrayOfString" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_WaterDataUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="watersApplications" type="ns1:waters9i_waters_WaterApplications"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterApplications" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterApplicationUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterApplicationUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="waterApplicationName" type="string"/>
               <element name="waterApplicationDescription" type="string"/>
               <element name="watersEntities" type="ns1:waters9i_waters_WaterEntities"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterEntities" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterEntityUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterEntityUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="entityId" type="string"/>
               <element name="entityOrganization" type="string"/>
               <element name="entityName" type="string"/>
               <element name="entityTypeDescription" type="string"/>
               <element name="stateLocationUspsCode" type="string"/>
               <element name="startDateDescription" type="string"/>
               <element name="endDateDescription" type="string"/>
               <element name="watersFeatureTypes" type="ns1:waters9i_waters_WaterFeatureTypes"/>
               <element name="watersUrls" type="ns1:waters9i_waters_WaterUrls"/>
               <element name="watersHightlights" type="ns1:waters9i_waters_WaterHighlights"/>
               <element name="watersHucs" type="ns1:waters9i_waters_WaterHucs"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterFeatureTypes" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterFeatureTypeUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterFeatureTypeUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="nhdWaterType" type="string"/>
               <element name="nhdWaterSize" type="decimal"/>
               <element name="waterSizeUnit" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterFeatureTypeUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterFeatureTypeUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_WaterUrls" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterUrlUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterUrlUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="urlDescription" type="string"/>
               <element name="urlAddress" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterUrlUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterUrlUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_WaterHighlights" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterHighlightUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterHighlightUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="highlightName" type="string"/>
               <element name="highlightValue" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterHighlightUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterHighlightUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_WaterHucs" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_WaterHucUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_WaterHucUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="huc" type="string"/>
               <element name="hucName" type="string"/>
            </all>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterHucUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterHucUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterEntityUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterEntityUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_WaterApplicationUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_WaterApplicationUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_ProgramEntitiesList" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfwaters9i_waters_ProgramEntitiesUser"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_ProgramEntitiesUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="programName" type="string"/>
               <element name="entities" type="ns1:waters9i_waters_EntityList"/>
            </all>
         </complexType>
         <complexType name="waters9i_waters_EntityList" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="array" type="ns1:ArrayOfString"/>
            </all>
         </complexType>
         <complexType name="ArrayOfwaters9i_waters_ProgramEntitiesUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns1:waters9i_waters_ProgramEntitiesUser[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="waters9i_waters_ValidLatLongUser" jdev:packageName="waters9i_waters" xmlns:jdev="http://xmlns.oracle.com/jdeveloper/webservices">
            <all>
               <element name="latitude" type="decimal"/>
               <element name="longitude" type="decimal"/>
               <element name="message" type="string"/>
            </all>
         </complexType>
      </schema>
   </types>
   <message name="getEntitiesByLatLong0Request">
      <part name="latitude" type="xsd:decimal"/>
      <part name="longitude" type="xsd:decimal"/>
      <part name="searchRadiusMiles" type="xsd:decimal"/>
      <part name="programsList" type="ns1:waters9i_waters_PrgList"/>
   </message>
   <message name="getEntitiesByLatLong0Response">
      <part name="return" type="ns1:waters9i_waters_WaterDataUser"/>
   </message>
   <message name="getProgramWaterEntities1Request">
      <part name="programEntitiesList" type="ns1:waters9i_waters_ProgramEntitiesList"/>
   </message>
   <message name="getProgramWaterEntities1Response">
      <part name="return" type="ns1:waters9i_waters_WaterDataUser"/>
   </message>
   <message name="getEntitiesByHuc2Request">
      <part name="huc" type="xsd:decimal"/>
      <part name="programsList" type="ns1:waters9i_waters_PrgList"/>
   </message>
   <message name="getEntitiesByHuc2Response">
      <part name="return" type="ns1:waters9i_waters_WaterDataUser"/>
   </message>
   <message name="convertLatLong3Request">
      <part name="latitudeDegrees" type="xsd:decimal"/>
      <part name="latitudeMinutes" type="xsd:decimal"/>
      <part name="latitudeSeconds" type="xsd:decimal"/>
      <part name="longitudeDegrees" type="xsd:decimal"/>
      <part name="longitudeMinutes" type="xsd:decimal"/>
      <part name="longitudeSeconds" type="xsd:decimal"/>
      <part name="horizontalDatum" type="xsd:string"/>
   </message>
   <message name="convertLatLong3Response">
      <part name="return" type="ns1:waters9i_waters_ValidLatLongUser"/>
   </message>
   <message name="validateLatLong4Request">
      <part name="latitude" type="xsd:decimal"/>
      <part name="longitude" type="xsd:decimal"/>
      <part name="horizontalDatum" type="xsd:string"/>
   </message>
   <message name="validateLatLong4Response">
      <part name="return" type="ns1:waters9i_waters_ValidLatLongUser"/>
   </message>
   <portType name="SpatialServicesPortType">
      <operation name="getEntitiesByLatLong">
         <input name="getEntitiesByLatLong0Request" message="tns:getEntitiesByLatLong0Request"/>
         <output name="getEntitiesByLatLong0Response" message="tns:getEntitiesByLatLong0Response"/>
      </operation>
      <operation name="getProgramWaterEntities">
         <input name="getProgramWaterEntities1Request" message="tns:getProgramWaterEntities1Request"/>
         <output name="getProgramWaterEntities1Response" message="tns:getProgramWaterEntities1Response"/>
      </operation>
      <operation name="getEntitiesByHuc">
         <input name="getEntitiesByHuc2Request" message="tns:getEntitiesByHuc2Request"/>
         <output name="getEntitiesByHuc2Response" message="tns:getEntitiesByHuc2Response"/>
      </operation>
      <operation name="convertLatLong">
         <input name="convertLatLong3Request" message="tns:convertLatLong3Request"/>
         <output name="convertLatLong3Response" message="tns:convertLatLong3Response"/>
      </operation>
      <operation name="validateLatLong">
         <input name="validateLatLong4Request" message="tns:validateLatLong4Request"/>
         <output name="validateLatLong4Response" message="tns:validateLatLong4Response"/>
      </operation>
   </portType>
   <binding name="SpatialServicesBinding" type="tns:SpatialServicesPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getEntitiesByLatLong">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getEntitiesByLatLong0Request">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getEntitiesByLatLong0Response">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getProgramWaterEntities">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getProgramWaterEntities1Request">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getProgramWaterEntities1Response">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getEntitiesByHuc">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getEntitiesByHuc2Request">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getEntitiesByHuc2Response">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="convertLatLong">
         <soap:operation soapAction="" style="rpc"/>
         <input name="convertLatLong3Request">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="convertLatLong3Response">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="validateLatLong">
         <soap:operation soapAction="" style="rpc"/>
         <input name="validateLatLong4Request">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="validateLatLong4Response">
            <soap:body use="encoded" namespace="SpatialServices" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="SpatialServices">
      <port name="SpatialServicesPort" binding="tns:SpatialServicesBinding">
         <soap:address location="http://epadev.induscorp.com/WATERSWebServices/SpatialServices"/>
      </port>
   </service>
</definitions>
