cwnsWeb/web/WEB-INF/Waters_Zoom_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://org.rti.waters.ZoomService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://org.rti.waters.ZoomService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://org.rti.waters.ZoomService">
      <s:element name="getBBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unique_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="layer_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="radius" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_value" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_filter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPtBBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPtBBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPtBBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findFeatureByPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="layer_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lon" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findFeatureByPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findFeatureByPointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findAdjacentFeatures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unique_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="layer_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="radius" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findAdjacentFeaturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findAdjacentFeaturesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBBoxWithCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attr_prg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="org_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list_org_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="layer_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBBoxWithCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBBoxWithCredentialsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getBBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getBBox" />
  </wsdl:message>
  <wsdl:message name="getBBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getBBoxResponse" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getPtBBox" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getPtBBoxResponse" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointSoapIn">
    <wsdl:part name="parameters" element="tns:findFeatureByPoint" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointSoapOut">
    <wsdl:part name="parameters" element="tns:findFeatureByPointResponse" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesSoapIn">
    <wsdl:part name="parameters" element="tns:findAdjacentFeatures" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesSoapOut">
    <wsdl:part name="parameters" element="tns:findAdjacentFeaturesResponse" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:getBBoxWithCredentials" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:getBBoxWithCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="getBBoxHttpGetIn">
    <wsdl:part name="unique_id" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
    <wsdl:part name="search_value" type="s:string" />
    <wsdl:part name="search_filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxHttpGetIn">
    <wsdl:part name="lat" type="s:string" />
    <wsdl:part name="lon" type="s:string" />
    <wsdl:part name="dist" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointHttpGetIn">
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="lat" type="s:string" />
    <wsdl:part name="lon" type="s:string" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesHttpGetIn">
    <wsdl:part name="unique_id" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsHttpGetIn">
    <wsdl:part name="entity_id" type="s:string" />
    <wsdl:part name="attr_prg" type="s:string" />
    <wsdl:part name="org_id" type="s:string" />
    <wsdl:part name="list_org_id" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="user_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxHttpPostIn">
    <wsdl:part name="unique_id" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
    <wsdl:part name="search_value" type="s:string" />
    <wsdl:part name="search_filter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxHttpPostIn">
    <wsdl:part name="lat" type="s:string" />
    <wsdl:part name="lon" type="s:string" />
    <wsdl:part name="dist" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPtBBoxHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointHttpPostIn">
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="lat" type="s:string" />
    <wsdl:part name="lon" type="s:string" />
  </wsdl:message>
  <wsdl:message name="findFeatureByPointHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesHttpPostIn">
    <wsdl:part name="unique_id" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
  </wsdl:message>
  <wsdl:message name="findAdjacentFeaturesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsHttpPostIn">
    <wsdl:part name="entity_id" type="s:string" />
    <wsdl:part name="attr_prg" type="s:string" />
    <wsdl:part name="org_id" type="s:string" />
    <wsdl:part name="list_org_id" type="s:string" />
    <wsdl:part name="radius" type="s:string" />
    <wsdl:part name="layer_name" type="s:string" />
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="user_pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBBoxWithCredentialsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WATERS_Zoom_ServiceSoap">
    <wsdl:operation name="getBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to features not requiring credentials</wsdl:documentation>
      <wsdl:input message="tns:getBBoxSoapIn" />
      <wsdl:output message="tns:getBBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:getPtBBoxSoapIn" />
      <wsdl:output message="tns:getPtBBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:findFeatureByPointSoapIn" />
      <wsdl:output message="tns:findFeatureByPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for adjacent features by id</wsdl:documentation>
      <wsdl:input message="tns:findAdjacentFeaturesSoapIn" />
      <wsdl:output message="tns:findAdjacentFeaturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to an entity_id.  First verifies that the user has proper credentials to zoom to that entity_id.</wsdl:documentation>
      <wsdl:input message="tns:getBBoxWithCredentialsSoapIn" />
      <wsdl:output message="tns:getBBoxWithCredentialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WATERS_Zoom_ServiceHttpGet">
    <wsdl:operation name="getBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to features not requiring credentials</wsdl:documentation>
      <wsdl:input message="tns:getBBoxHttpGetIn" />
      <wsdl:output message="tns:getBBoxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:getPtBBoxHttpGetIn" />
      <wsdl:output message="tns:getPtBBoxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:findFeatureByPointHttpGetIn" />
      <wsdl:output message="tns:findFeatureByPointHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for adjacent features by id</wsdl:documentation>
      <wsdl:input message="tns:findAdjacentFeaturesHttpGetIn" />
      <wsdl:output message="tns:findAdjacentFeaturesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to an entity_id.  First verifies that the user has proper credentials to zoom to that entity_id.</wsdl:documentation>
      <wsdl:input message="tns:getBBoxWithCredentialsHttpGetIn" />
      <wsdl:output message="tns:getBBoxWithCredentialsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WATERS_Zoom_ServiceHttpPost">
    <wsdl:operation name="getBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to features not requiring credentials</wsdl:documentation>
      <wsdl:input message="tns:getBBoxHttpPostIn" />
      <wsdl:output message="tns:getBBoxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:getPtBBoxHttpPostIn" />
      <wsdl:output message="tns:getPtBBoxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for a lat/lon</wsdl:documentation>
      <wsdl:input message="tns:findFeatureByPointHttpPostIn" />
      <wsdl:output message="tns:findFeatureByPointHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box and feature attributes for adjacent features by id</wsdl:documentation>
      <wsdl:input message="tns:findAdjacentFeaturesHttpPostIn" />
      <wsdl:output message="tns:findAdjacentFeaturesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a bounding box for zooming to an entity_id.  First verifies that the user has proper credentials to zoom to that entity_id.</wsdl:documentation>
      <wsdl:input message="tns:getBBoxWithCredentialsHttpPostIn" />
      <wsdl:output message="tns:getBBoxWithCredentialsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WATERS_Zoom_ServiceSoap" type="tns:WATERS_Zoom_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBBox">
      <soap:operation soapAction="http://org.rti.waters.ZoomService/getBBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <soap:operation soapAction="http://org.rti.waters.ZoomService/getPtBBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <soap:operation soapAction="http://org.rti.waters.ZoomService/findFeatureByPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <soap:operation soapAction="http://org.rti.waters.ZoomService/findAdjacentFeatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <soap:operation soapAction="http://org.rti.waters.ZoomService/getBBoxWithCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATERS_Zoom_ServiceSoap12" type="tns:WATERS_Zoom_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBBox">
      <soap12:operation soapAction="http://org.rti.waters.ZoomService/getBBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <soap12:operation soapAction="http://org.rti.waters.ZoomService/getPtBBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <soap12:operation soapAction="http://org.rti.waters.ZoomService/findFeatureByPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <soap12:operation soapAction="http://org.rti.waters.ZoomService/findAdjacentFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <soap12:operation soapAction="http://org.rti.waters.ZoomService/getBBoxWithCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATERS_Zoom_ServiceHttpGet" type="tns:WATERS_Zoom_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getBBox">
      <http:operation location="/getBBox" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <http:operation location="/getPtBBox" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <http:operation location="/findFeatureByPoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <http:operation location="/findAdjacentFeatures" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <http:operation location="/getBBoxWithCredentials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATERS_Zoom_ServiceHttpPost" type="tns:WATERS_Zoom_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getBBox">
      <http:operation location="/getBBox" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPtBBox">
      <http:operation location="/getPtBBox" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findFeatureByPoint">
      <http:operation location="/findFeatureByPoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAdjacentFeatures">
      <http:operation location="/findAdjacentFeatures" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBBoxWithCredentials">
      <http:operation location="/getBBoxWithCredentials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WATERS_Zoom_Service">
    <wsdl:port name="WATERS_Zoom_ServiceSoap" binding="tns:WATERS_Zoom_ServiceSoap">
      <soap:address location="http://rtidemo.rti.org/Waters_Zoom_Service/Waters_Zoom_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WATERS_Zoom_ServiceSoap12" binding="tns:WATERS_Zoom_ServiceSoap12">
      <soap12:address location="http://rtidemo.rti.org/Waters_Zoom_Service/Waters_Zoom_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WATERS_Zoom_ServiceHttpGet" binding="tns:WATERS_Zoom_ServiceHttpGet">
      <http:address location="http://rtidemo.rti.org/Waters_Zoom_Service/Waters_Zoom_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WATERS_Zoom_ServiceHttpPost" binding="tns:WATERS_Zoom_ServiceHttpPost">
      <http:address location="http://rtidemo.rti.org/Waters_Zoom_Service/Waters_Zoom_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>